# Virtual Environment
venv/
__pycache__/

# Temporary Files
temp_files/
*.mp4
*.mp3
*.png
gcp_creds.json

# Local secrets file
.streamlit/secrets.toml

# IDE settings
.vscode/
# Ignore the specific GCP service account key
youtubeubload.json